@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

a:not(:has(button)) {
	text-decoration: underline;
}

#analytics-plugin-button-collect {
	bottom: 4rem;
}
